<!--begin::Container-->
<div [ngClass]="headerContainerCSSClasses" class="d-flex align-items-stretch justify-content-between">
  <div *ngIf="userRole==='School Admin'">
    <p class="mb-2 mt-3">
      <b>
        {{userSchoolData.scH_DESC}}
        -
        {{userSchoolData.reL_DESC}}
      </b>
    </p>
    <p>
      {{ userSchoolData.disT_NAME }}
      -
      {{ userSchoolData.goV_DESC }}
    </p>
  </div>
  <div *ngIf="userRole==='School Admin'" class="class-grade">{{ userSchoolData.stagE_DESC }}</div>

  <ng-container *ngIf="headerMenuSelfDisplay">
    <!--begin::Header Menu Wrapper-->
    <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
      <!-- <ng-container *ngIf="!asideSelfDisplay">
        <div class="header-logo">
          <a routerLink="/">
            <img alt="Logo" [attr.src]="headerLogo" width="45" />
          </a>
        </div>
      </ng-container> -->

      <!-- 
      <app-header-menu
        #ktHeaderMenu
        id="kt_header_menu"
        class="header-menu header-menu-mobile"
        [ngClass]="headerMenuCSSClasses"
      ></app-header-menu> -->
    </div>
    <!--end::Header Menu Wrapper-->
  </ng-container>

  <ng-container *ngIf="!headerMenuSelfDisplay">
    <div></div>
  </ng-container>

  <app-topbar class="topbar"></app-topbar>
</div>
<!--end::Container-->