:host {
  ::ng-deep {
    .loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;

      .progress-bar {
        // brand color
        background-color: #5d78ff;
      }
    }

    .topbar-item {
      height: 100%;
    }

    @media (min-width: 1025px) {
      .topbar,
      .topbar-item-wrapper {
        height: 100%;
      }
    }
  }
}

.class-grade{
  background: #0013a7;
  border-radius: 0px 0px 24px 24px;
  color: #fff;
  padding: 12px 10px;
  text-align: center;
  margin: auto;
  width: 250px;
  font-size: 18px;
  margin-top: 0;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}