/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

// Global vendors
@import '~bootstrap/dist/css/bootstrap.css';
// => Material
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~highlight.js/styles/googlecode.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// Global fonts
@import '~socicon/css/socicon.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Metronic styles (replace these path when using RTL css below)
// @import './assets/sass/style.angular.scss';

// For RTL, check this documentation https://keenthemes.com/metronic/?page=docs&section=angular-rtl
// @import "./assets/sass/style.angular.rtl.css";

// Default Layout themes
@import './assets/sass/themes/layout/header/base/light.scss';
@import './assets/sass/themes/layout/header/menu/light.scss';
@import './assets/sass/themes/layout/brand/dark.scss';
@import './assets/sass/themes/layout/aside/dark.scss';

html {
  font-size: 16px;
}
html[dir='rtl'] {
  .p-component,
  .p-component p-footer,
  body {
    font-family: 'Cairo', sans-serif !important;
  }
  .dropdown-menu.p-0.m-0.dropdown-menu-anim-up.dropdown-menu-sm.dropdown-menu-right {
    transform: translate(0, 44px) !important;
  }
  .label-custom {
    right: unset;
    left: 5px;
  }
}

.aside .aside-menu.ps > .ps__rail-y {
  right: 250px;
}

.text-success-2 {
  color: #015a09 !important;
}

app-changepassword,
app-login {
  width: 100% !important;
}

.btn-xl {
  font-size: 22px !important;
  padding: 10px 30px !important;
}
.font-20 {
  font-size: 22px !important;
}
.font-18 {
  font-size: 20px !important;
}
.modal-close {
  position: absolute;
  top: 13px;
  left: 17px;
  z-index: 999;
  i {
    font-size: 20px;
  }
}
.login-form.login-signup {
  max-width: 450px;
  margin: auto;
}
.tab-content.mt-2 {
  margin-top: 0 !important;
}

.border-raduis-50 {
  border-radius: 50px !important;
}
.modal-title {
  background: #0013a7;
  border-radius: 0px 0px 24px 24px;
  color: #fff;
  padding: 12px 10px;
  text-align: center;
  margin: auto;
  width: 250px;
  font-size: 20px;
}

.help-box {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 16px 0px;
  padding: 15px;
  color: #039517;
  h4 {
    font-size: 20px;
    i {
      font-size: 25px;
      color: #039517;
    }
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
    line-height: 1.5;
  }
  p{
    font-size: 16px;
  }
}

// custom-radio

.only-sr {
  overflow: hidden !important;
  position: absolute !important;
  width: 1px;
  height: 1px;
  opacity: 0;
}

/* form | radio */
.radio-items {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  > div {
    text-align: center;
    margin: 20px 0 0;
    margin-inline-end: 15px;
  }
  label {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0px 6px 12px #5867dd2e;
    border: 2px solid #5867dd26;
    border-radius: 8px;
    font-weight: bold;
  }
  input[type='radio']:checked + label {
    background: #5867ddab;
    box-shadow: 0px 6px 12px #5867dd2e;
    border: 2px solid #0013a7;
    border-radius: 8px;
    color: #fff;
  }
}

thead th {
  background: #f1f1f1;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.p-inputtext.p-chips-multiple-container {
  padding: 0;
  background: transparent;
  border: none;
  width: 100%;
}
.p-chips.p-component {
  display: block;
}

html[dir='rtl'] {
  .p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message:after {
    content: 'لا توجد نتائج';
    font-size: 12px;
    font-family: 'Cairo', sans-serif !important;
  }
  .p-multiselect-panel .p-multiselect-header .p-checkbox,
  .p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    margin-left: 0.5rem !important;
    margin-right: unset !important;
  }
  .p-multiselect-panel .p-multiselect-header .p-multiselect-close {
    margin-right: 0.5rem !important;
    margin-left: unset !important;
  }
}
.p-dropdown .p-dropdown-clear-icon {
  right: unset !important;
  left: 2.357rem !important;
}
.p-dropdown {
  background: transparent !important;
  border: unset !important;
  width: 100% !important;
}
.p-calendar .p-inputtext,
.p-multiselect {
  font-family: 'Cairo', sans-serif !important;
  background: transparent !important;
  border: unset !important;
  width: 100%;
}
p-calendar,
p-multiselect {
  padding: 5px !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
  font-size: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message:after {
  content: 'No Results Found';
  font-size: 12px;
}

.p-multiselect-label {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(227 231 255 / 40%) !important;
}
// .assign-teacher{
//   .tab-content>.active {
//     display: block;
//     box-shadow: 0px 2px 16px #5867dd29;
//     border: 1px solid #5867DD80;
//     padding: 15px;
//     border-radius: 10px 0 10px 10px;
//   }
// }

table {
  .form-group {
    margin: 0 0 10px 0 !important;
    box-shadow: 0px 3px 6px #5867dd70;
    border-radius: 7px;
    .form-control {
      margin: 10px 0 0 !important;
      background: #fff;
      padding: 0 !important;
    }
  }
}
.table td {
  padding: 0 10px !important;
}
.table th {
  background-color: #a4b0ff33 !important;
  border-left: 2px solid #fff;
  text-align: center;
}

.table th,
.table td {
  border-top: 0 !important;
  color: #000 !important;
  font-size: 16px !important;
  text-align: center !important;
}

.table.table-foot-custom tfoot td,
.table.table-foot-custom tfoot th,
.table.table-head-custom thead th,
.table.table-head-custom thead tr {
  color: #000 !important;
}
.nav .nav-link,
.nav .nav-link .nav-text {
  font-size: 16px !important;
}
.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
  font-size: 20px !important;
}
.breadcrumb {
  background-color: unset !important;
  font-size: 14px;
}
.breadcrumb-item a {
  color: #000 !important;
  opacity: 0.5 !important;
}
.breadcrumb-item.active {
  color: #0013a7 !important;
  opacity: 1 !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}

.breadcrumb-item + .breadcrumb-item:before {
  content: '>' !important;
}

th {
  position: relative;
  height: 44px;
}
.search-item {
  position: absolute;
  top: 0;
  width: 95%;
  right: 0;
  input.form-control {
    padding-inline-start: 25px !important;
  }
}
th .search-item i {
  position: absolute;
  top: 13px;
  right: 5px;
}
.search-input {
  padding: 5px;
  padding-right: 25px !important;
  margin-top: 3px;
  margin-right: 3px;
}
.search-input::placeholder {
  padding-right: 25px;
}
.modal-header h4 {
  color: white !important;
}
.table-responsive {
  overflow: visible !important;
}
.table {
  overflow: visible !important ;
}
.form-group label,
.no-classes p,
.btn,
.p-multiselect .p-multiselect-label.p-placeholder,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item,
.p-multiselect-token-label {
  font-size: 18px !important;
}
