<div class="modal-content">
    <div class="modal-close cursor-pointer" (click)="close()">
        <i class="fas fa-times text-danger"></i>
    </div>
    <div class="modal-title">تعديل بيانات المعلم</div>

    <div class="modal-body">
        <div>
            <div class="items d-flex">
                <div class="mr-3">
                    <p>اسم الملعم:</p>
                    <p>كود المعلم:</p>
                    <p>المواد:</p>
                </div>
                <div class="">
                    <p>سماء محمد</p>
                    <p>78923479</p>
                    <div class="form-group">
                        <select class="
                            form-control form-control-solid
                            h-auto
                            rounded-md
                            font-size-h6
                            mt-3
                          " type="text" name="groupName" style="margin: -9px; padding: 0 ; width: 150px;">
                            <option *ngFor="let item of grids">اختر الفصل</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-7 d-flex justify-content-around ">
                <button class="btn btn-primary item-btn" (click)="submit()">
                    تعديل </button>

                <button class="btn text-danger font-20"> الغاء</button>
            </div>
        </div>
    </div>
</div>