<div class="modal-content">
  <!-- <div class="modal-close cursor-pointer" (click)="close()">
        <i class="fas fa-times text-danger"></i>
    </div> -->
  <div class="modal-title">تعيين المعلمين</div>
  <div class="modal-body assign-teacher">
    <div class="row">
      <div class="text-center pb-5 w-100" *ngIf="pageProps.isLoading">
        <mat-spinner class="m-auto"></mat-spinner>
      </div>
      <div class="col-lg-8 d-flex flex-column justify-content-between" *ngIf="!pageProps.isLoading">
        <div class="row" *ngIf="pageProps.selectedGrade.subjects && pageProps.selectedGrade.subjects.length!=0">
          <div class="col-lg-12">
            <h4 class="font-18">اسم المادة</h4>
            <ul ngbNav #nav="ngbNav" class="nav-pills mt-4" orientation="horizontal">
              <li ngbNavItem="top" *ngFor="let subject of pageProps.selectedGrade.subjects;let i=index;"
                [ngbNavItem]="i">
                <a ngbNavLink>{{subject.name}}</a>
                <ng-template ngbNavContent>
                  <div class="row mb-3 align-items-center" *ngFor="let teacher of subject.subjectTeachers">
                    <div class="col-lg-6">
                      <div>{{teacher.name}}</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group mb-0">
                        <p-multiSelect class="
            form-control form-control-solid
            h-auto
            rounded-md
            font-size-h6
            mt-5
            p-0
          " [options]="pageProps.selectedGrade.classes" defaultLabel="حدد الفصل" optionLabel="name" optionValue="id"
                          display="chip" [(ngModel)]="teacher.classesIds"></p-multiSelect>
                        <!-- <select class="
                            form-control form-control-solid
                            h-auto
                            rounded-md
                            font-size-h6
                            py-0
                          " type="text" name="groupName">
                          <option  *ngFor="let class of pageProps.selectedGrade.classes" value="{{class.id +','+subject.id+','+ teacher.id}}">{{class.name}} </option>
                        </select> -->
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <!-- <li ngbNavItem="middle">
                <a ngbNavLink>الرياضيات</a>
                <ng-template ngbNavContent>
                  <div
                    class="row mb-3 align-items-center"
                    *ngFor="let item of items"
                  >
                    <div class="col-lg-6">
                      <div>سماء سماء محمد</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group mb-0">
                        <select
                          class="
                            form-control form-control-solid
                            h-auto
                            rounded-md
                            font-size-h6
                            py-0
                          "
                          type="text"
                          name="groupName"
                        >
                          <option *ngFor="let item of grids">اختر الفصل</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem="bottom">
                <a ngbNavLink>الدين</a>
                <ng-template ngbNavContent>
                  <div
                    class="row mb-3 align-items-center"
                    *ngFor="let item of items"
                  >
                    <div class="col-lg-6">
                      <div>محمد سماء محمد</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group mb-0">
                        <select
                          class="
                            form-control form-control-solid
                            h-auto
                            rounded-md
                            font-size-h6
                            py-0
                          "
                          type="text"
                          name="groupName"
                        >
                          <option *ngFor="let item of grids">اختر الفصل</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li> -->
            </ul>
          </div>
          <div class="col-lg-8 col-xl-9">
            <h4 class="font-18 mr-3">اسم المعلم</h4>

            <div [ngbNavOutlet]="nav" class="ml-4 mt-4"></div>
          </div>
        </div>
        <div class="row" *ngIf="pageProps.selectedGrade.subjects.length == 0">
          <div class="mt-1" role="alert" style="color: #f64e60;">
            لا يوجد معلمين معينين على مواد برجاء تعيين معلمين على مواد اولا .
          </div>
        </div>
        <div>
          <button [disabled]="(pageProps.selectedGrade.subjects.length == 0)"
            class="btn btn-primary btn-xl border-raduis-50" (click)="submit()">
            حفظ البيانات
          </button>

          <button class="btn text-danger font-20" (click)="close()">إلغاء</button>
        </div>
      </div>
      <!-- /col -->
      <div class="col-lg-4">
        <div class="help-box">
          <h4 class="mb-5 pb-3">
            <i class="fas fal fa-info-circle"></i> المساعده
          </h4>
          <h5 class="mb-4 pb-3">كيف يمكن تعيين ملعم للفصل</h5>
          <h6 class="mb-3 pb-3">
            1- اضغط على المادة التي تريد تعيين ملعم له من قائمة اسم المادة
          </h6>
          <h6 class="mb-3 pb-3">
            ‏2. سوف يقوم النظام بإدراج جميع معلمين المادة المختارة العاملين بالمدرسة وإظهار اسمائهم
          </h6>
          <h6 class="mb-3 pb-3">
            3. اختر الفصل المراد تعيين ملعم, كما يمكنك اختيار اكثر من فصل لنفس المعلم
          </h6>
          <div class="py-5 my-5"></div>
          <p class="text-warning">
            الملحوظة يمكنك بسهوله ملاحظه الفارق بين المواد المعين عليها معلمين و المواد الفارغة عن طريق اللون الأحمر
          </p>
        </div>
      </div>
      <!-- /col -->
    </div>
  </div>
</div>