
<div class="card" *ngIf="pageProps">
    <div class="card-body " *ngIf="!pageProps.isLoading">
        <h5 class="card-title">تقارير على اجمالى البيانات</h5>
        <div class="form-group" style="width: 50%;" *ngIf="this.pageProps">
            <label for="exampleFormControlSelect1">تحديد المديرية</label>
            <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="this.pageProps.selectedGov">
              <option value="0">الكل</option>
              <option *ngFor=" let gov of this.pageProps.govs" value="{{gov.id}}">{{gov.name}}</option>
            </select>
        </div>
          
        <button class="btn btn-info" (click)="exportClassDetials()">طباعة تقرير مدرسين غير موزعين على فصول</button>
        &nbsp;
        &nbsp;
        &nbsp;
        <button class="btn btn-dark" (click)="exportGovBookDetials()">طباعة تقرير  تسليم الكتب الدراسية</button>
    </div>

    <div class="card-body" *ngIf="pageProps.isLoading">
        <div class="text-center pb-5">
            <mat-spinner class="m-auto"></mat-spinner>
          </div>
    </div>
</div>


<ng-template #Status let-close="close" let-d="dismiss">
    <div class="modal-header pt-0">
      <h4 class="modal-title">ملاحظة</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{ pageProps.message }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="d('Cross click')">
        حسنا
      </button>
    </div>
</ng-template>
