<!--begin::Brand-->
<div class="brand flex-column-auto" id="kt_brand" [ngClass]="brandClasses">
  <a routerLink="/" class="brand-logo">
    <img alt="Logo" [attr.src]="headerLogo" width="45" />
  </a>

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span
        [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        "
        cacheSVG="true"
        class="svg-icon svg-icon-xl"
      ></span>
    </button>
  </ng-container>
</div>

<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" width="45" />
    </a>
  </ng-container>
  <div
    id="kt_aside_menu"
    class="aside-menu"
    [ngClass]="asideMenuCSSClasses"
    data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll"
    [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500"
  >
    <div ngbDropdown class="d-block mx-3 custom-dropdown"></div>
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">
      <ng-container *ngFor="let item of asideItems">
        <ng-container *ngIf="!item.submenu">
          <!-- begin::1 Level -->

          <li
            class="menu-item"
            aria-haspopup="true"
            routerLinkActive="menu-item-active"
          >
            <a
              class="menu-link"
              [routerLink]="item.page"
              routerLinkActive="active"
            >
              <!-- <span
                [inlineSVG]="item.svg"
                cacheSVG="true"
                class="svg-icon menu-icon"
              ></span> -->

              <span
                [inlineSVG]="item.svg"
                cacheSVG="true"
                *ngIf="!!item.svg"
                class="svg-icon menu-icon"
              ></span>

              <span *ngIf="item.icon" class="svg-icon menu-icon">
                <i [class]="item.icon"></i
              ></span>
              <span class="menu-text">{{ item.title | translate }}</span>
            </a>
          </li>
          <!-- end::1 Level -->
        </ng-container>

        <!-- begin::if has submenu -->
        <ng-container *ngIf="item.submenu">
          <!-- li ==>  [ngClass]="{ 'menu-item-open': isMenuItemActive(item.page) }" -->
          <li
            class="menu-item menu-item-submenu"
            aria-haspopup="true"
            data-menu-toggle="hover"
            routerLinkActive="menu-item-open"
          >
            <!--  a ==>  [ngClass]="{ 'active ': isMenuItemActive(item.page) }" -->
            <a
              class="menu-link menu-toggle"
              [attr.href]="item.page"
              routerLinkActive="active"
            >
              <span
                [inlineSVG]="item.svg"
                cacheSVG="true"
                class="svg-icon menu-icon"
              ></span>
              <span class="menu-text">{{ item.title | translate }}</span>
              <i class="fas fa-angle-left"></i>
            </a>
            <div class="menu-submenu">
              <ul class="menu-subnav">
                <ng-container *ngFor="let item of item.submenu">
                  <li
                    class="menu-item"
                    routerLinkActive="menu-item-active"
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                  >
                    <a
                      class="menu-link"
                      [routerLink]="item.page"
                      routerLinkActive="active"
                    >
                      <i class="menu-bullet menu-bullet-dot">
                        <span></span>
                      </i>
                      <span class="menu-text">{{
                        item.title | translate
                      }}</span>
                    </a>
                  </li>
                </ng-container>
              </ul>
            </div>
          </li>
        </ng-container>
        <!-- end::if has submenu -->
      </ng-container>
    </ul>
  </div>
</div>
