<div class="modal-content">
    <!-- <div class="modal-close cursor-pointer" (click)="close()">
        <i class="fas fa-times text-danger"></i>
    </div> -->
    <div class="modal-title">أضف فصل دراسي جديد</div>

    <div class="modal-body">

        <div class="row">
            <div class="col-lg-8 d-flex flex-column justify-content-between">
                <div>
                    <!-- <h5>اختر الصف الدراسي</h5> -->
                    <h5 class="mt-5 pt-5">أدخل عدد الفصول الخاصة بالصف</h5>

                    <div class="radio-items d-flex mb-5 mb-5">
                        <div>
                            <input id="b1" class="only-sr checked" type="radio" name="{{pageProps.selectedGrade.name}}" value="{{pageProps.selectedGrade.id}}" checked />
                            <label for="b1">{{pageProps.selectedGrade.name}}</label>
                        </div>

                    </div>

                    <!-- <h5 class="mt-5 pt-5">أدخل عدد الفصول الخاصة بالصف</h5> -->

                    <div class="row mt-5 pt-3">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>ادخل عدد الفصول الفعليه</label>
                                <input class="form-control" type="number" [(ngModel)]="numOfclassValue" min="1" max="{{pageProps.maxNumberOfClasses}}" placeholder="ادخل عدد الفصول الفعليه" />
                                <div class="mt-1" role="alert" style="color: #f64e60;" *ngIf="numOfclassValue> pageProps.maxNumberOfClasses">
                                    الحد الاقصى لعدد الفصول هو {{pageProps.maxNumberOfClasses}}
                                </div>
                                <div class="mt-1" role="alert" style="color: #f64e60;" *ngIf="numOfclassValue<1 ">
                                    الحد الادنى لعدد الفصول هو 1
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6">
                            <div class="form-group">
                                <label>ادخل عدد الفصول المقسمة</label>
                                <input class="form-control" type="number" placeholder="ادخل عدد الفصول المقسمة" />
                            </div>
                        </div> -->
                    </div>
                </div>
                <div>
                    <button [disabled]="numOfclassValue> pageProps.maxNumberOfClasses || numOfclassValue <=0" class="btn btn-primary btn-xl border-raduis-50" (click)="submit(true)">
            انشاء الفصول
          </button>

                    <button [disabled]="numOfclassValue> pageProps.maxNumberOfClasses || numOfclassValue <=0" class="btn text-danger font-20" (click)="submit(false)">أحفظ و استكمل لاحقا</button>
                </div>
            </div>

            <!-- /col -->
            <div class="col-lg-4">
                <div class="help-box">
                    <h4 class="mb-5 pb-3">
                        <i class="fas fal fa-info-circle"></i> المساعده
                    </h4>
                    <h5 class="mb-4 pb-3">كيف تنشئ فصول لمرحلة دراسية</h5>
                    <h6 class="mb-3 pb-3">
                        ‏1. اختر المرحلة الدراسية بضغط على المرحلة المطلوبة
                    </h6>
                    <h6 class="mb-3 pb-3">
                        ‏2. اختر الصف الدراسي الخاص بالمرحلة (مثال) اخترت سابقا المرحلة الإعدادية قم باختيار الصف الثاني
                    </h6>
                    <h6 class="mb-3 pb-3">
                        ‏3. ادخل عدد الفصول الفعلية وعدد الفصول المقسمة. يرجى العلم ان باستطاعتك كتابه عدد الفصول او الاختيار من قائمة العدد الذي تريده
                    </h6>
                    <h6 class="mb-3 pb-3">
                        ‏4. اضغط على انشاء الفصول, و سوف يتم إنشاء الفصول وتحويلك إلى صفحة أضافة الطلاب لتلك الفصول
                    </h6>
                </div>
            </div>
            <!-- /col -->
        </div>
    </div>
</div>