<div class="head">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">الرئيسيه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                الفصول الدراسية
            </li>
        </ol>
    </nav>
</div>
<div class="text-center pb-5" *ngIf="pageProps.isLoading && pageProps.stage.length ===0">
    <mat-spinner class="m-auto"></mat-spinner>
</div>
<!-- start unassigned-->
<div class="mt-7" *ngIf="!pageProps.isLoading">
    <div>
        <button  class="btn btn-secondary" (click)="routeToStudentswithQQUery('false')">
            <span> إجمالى طلاب غير موزعين </span><span class="badge bg-primary" style="color: white;">{{pageProps.unassignedStudentNum | arabicNumerals}}</span>
        </button>&nbsp;
        <button  class="btn btn-secondary" (click)="routeToTeachers('class')">
            <span> اجمالى مدرسين غير موزعين على فصول </span><span class="badge bg-primary" style="color: white;">{{pageProps.unassignedTeacherToClassNum | arabicNumerals}}</span>
        </button>&nbsp;
        <button  class="btn btn-secondary" (click)="routeToTeachers('subject')">
            <span> اجمالى مدرسين غير موزعين على مواد </span><span class="badge bg-primary" style="color: white;">{{pageProps.unassignedTeacherToSubjectNum | arabicNumerals}}</span>
        </button>
    </div>
</div>
<!-- end unassigned-->
<div class="tabs mt-12" *ngIf="pageProps.stage.length !==0">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li *ngFor="let grade of pageProps.stage;let i=index;" [ngbNavItem]="i">
            <a ngbNavLink (click)="pageProps.selectedGrade=grade;">{{grade.name}}</a>
            <ng-template ngbNavContent class="mt-0">
                <div class="card">
                    <div class="card-body">
                        <!-- TODO: addClass -->
                        <!-- <div class="add cursor-pointer">
                            <p><i class="fas fal fa-plus"></i></p>
                            <div class="line"></div>
                        </div> -->
                        <div *ngIf="!pageProps.isLoading">
                            <button type="button" class="btn btn-secondary" (click)="routeToStudentswithQQUery('false')">
                                طلاب غير موزعين <span class="badge bg-primary" style="color: white;">{{grade.unassignedStudentNum | arabicNumerals}}</span>
                            </button>&nbsp;
                            <button type="button" class="btn btn-secondary" (click)="routeToStudentswithQQUery('true')">
                                طلاب موزعين <span class="badge bg-primary" style="color: white;">{{(grade.totalStudentNum - grade.unassignedStudentNum) | arabicNumerals}}</span>
                            </button>
                        </div>

                        <div class="list-classes mt-7" *ngIf="!pageProps.isLoading &&grade.classes.length > 0">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 col-md-4 mb-4" *ngFor="let class of grade.classes">
                                    <div class="class">
                                        <!-- Handle Routring here on tag (a)-->
                                        <a [routerLink]="['/classes/details',class.id]"
                                            routerLinkActive="router-link-active"></a>
                                        <p class="item1">الفصل <span>{{class.name | arabicNumerals }}</span></p>
                                        <div class="line-item"></div>
                                        <p class="item2">عدد الطلاب<span>{{class.totalStudents | arabicNumerals}}</span></p>
                                        <p>المعلمين<span>{{class.totalTeachers | arabicNumerals}}</span></p>
                                        
                                    </div>
                                </div>
                            </div>
                            <!-- <button class="btn btn-outline-primary border-raduis-50 ml-2 font-18" (click)="routeToStudentswithQQUery()">
                                أضافة طلاب
                              </button> -->
                        </div>

                        <div class="no-classes" *ngIf="!pageProps.isLoading &&grade.classes.length==0" >
                            <h3><i class="fas fal fa-info-circle"></i>لا يوجد فصول حاليه</h3>
                            <p>
                                يمكنك تهيئة او انشاء الفصول عن طريق الضغط على اضف فصل معلم جديد, بالإضافة إلى انه يمكنك
                                الاعتماد على المساعد لإضافة طلاب على الفصول وكذلك تعيين معلمين لتلك الفصول. بخطوات
                                بسيطة
                            </p>
                            <div class="class-btn">
                                <button class="btn btn-primary" (click)="opneModal(addClass)">انشاء فصول</button>
                            </div>
                        </div>
                    </div>

                    <div class="text-center pb-5" *ngIf="pageProps.isLoading && pageProps.stage.length >0">
                        <mat-spinner class="m-auto"></mat-spinner>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]=" nav " class="mt-2 "></div>
</div>

<ng-template #addClass>

    <app-create-update-class (addedSuccess)="done($event)"></app-create-update-class>
</ng-template>

<ng-template #addedSuccess>
    <div class="mx-auto">
        <!-- <div class="modal-close cursor-pointer" (click)="close()">
            <i class="fas fa-times text-danger"></i>
        </div> -->
        <div class="modal-body">
            <div class="mt-5 pt-5 mb-5 pb-3 font-20 text-center text-success-2">
                تم أضافة<b> {{pageProps.selectedGrade.classNum}} فصول</b> جديدة
                <br />
                <b> ل {{pageProps.selectedGrade.name}} </b> بنجاح
            </div>
            <!-- <h3 class="mb-4">هل ترغب ب ؟</h3>
            <div class="d-flex">
                <button class="btn btn-primary border-raduis-50 mr-2 font-18" (click)="opneModal(assignTeacher)">
                    تعيين معلمين
                </button>
                <button class="btn btn-outline-primary border-raduis-50 ml-2 font-18"
                    (click)="routeToStudentswithQQUery()">
                    أضافة طلاب
                </button>
            </div>
            <button (click)="routeToHome()" class="btn text-danger text-center font-18 w-100 mb-5 pb-3 ">
                العودة إلى الصفحة الرئسية
            </button> -->
            <button (click)="close()" class="btn btn-primary text-center font-18 w-100 mb-5 pb-3 ">
                حفظ 
            </button>
        </div>
    </div>
    <p class="text-warning p-5 ">
        ملحوظه يمكنك تعيين معلمين او إضافة طلاب في وقت لاحق, عن طريق الضغط على الفصل من قائمة

        <a class="text-primary cursor-pointer ">الفصول الدراسيه </a>
    </p>
</ng-template>

<!-- <ng-template #addStudent>
    <app-add-students></app-add-students>
</ng-template> -->

<ng-template #assignTeacher>
    <app-assign-teachers></app-assign-teachers>
</ng-template>


