.add p {
  color: #0013a7;
  font-size: 18px;
}
.add i {
  margin-left: 6px;
  color: #0013a7;
}
.line {
  background: #0013a7;
  width: 172px;
  height: 2px;
  margin: -12px 20px 0 0;
}
.list-classes .class {
  text-align: center;
  box-shadow: 0px 4px 8px #e8e8e8a8;
  border: 2px solid #0000001a;
  border-radius: 8px;
  opacity: 1;
  vertical-align: middle;
  width: 100%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  a {
    position: absolute;
    inset: 0;
  }
  &:hover {
    border: 2px solid #3699ff;
  }
}
.list-classes .class span {
  color: #000;
  font-weight: bold;
  margin-right: 20px;
}
.line-item {
  background: #eeeef0;
  width: 100%;
  height: 1px;
  margin: 0;
}
.item1 {
  padding-bottom: 0;
}
.item2 {
  padding-top: 10px;
}
.no-classes {
  margin: 100px auto;
  padding: 20px;
  width: 915px;
  height: 225px;
  background: #f7f7f7;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 16px 0px;
  color: #039517;
}
.no-classes i {
  color: #039517;
  margin-left: 4px;
}
.class-btn {
  text-align: center;
}
.no-classes button {
  width: 190px;
  border-radius: 25px;
  height: 50px;
  text-align: center;
  color: #ffffff;
}
