.table td {
  padding: 5px 10px !important;
}
.form-control {
  padding: unset !important;
}
.grid-badge {
  margin-right: 10px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}
.grid-badge span {
  background: #f4f4f4;
  margin: 0 10px 5px;
  padding: 0 5px;
  border-radius: 4px;
}

.grid-badge-subject {
  margin-right: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.grid-badge-subject span {
  background: #f4f4f4;
  margin: 0 5px 5px 0;
  padding: 5px;
  border-radius: 4px;
}
.grid-badge-subject p {
  margin-right: 10px;
}
.grid-badge-subject i {
  cursor: pointer;
  color: #0013a7;
  font-size: 20px;
}
th {
  padding-right: 18px;
}
th i {
  margin-left: 5px;
}
.no-classes {
  margin: 100px auto;
  padding: 20px;
  width: 915px;
  height: 225px;
  background: #f7f7f7;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 16px 0px;
  color: #039517;
}
.no-classes i {
  color: #039517;
  margin-left: 4px;
}
.class-btn {
  text-align: center;
}
.no-classes button {
  width: 190px;
  border-radius: 25px;
  height: 50px;
  text-align: center;
  color: #ffffff;
}
.edit {
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
}
