<div class="head">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/dashboard']">الرئيسيه</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">المعلمين</li>
    </ol>
  </nav>
</div>

<div class="card">
  <div class="card-body pt-0" *ngIf="!isLoading">

    <div *ngFor="let group of teacherList | keyvalue" class="card my-3" style="margin: 0;border-color: #0013a7; padding: 0;">
      <div class="card-header" style="color: white; padding: 10px;background-color: #1e1e2d;">
        <h5 style="margin: 0;text-align: center;">{{ group.value[0].teacherName }} ({{ group.value[0].teacherCode | arabicNumerals }})</h5>
      </div>
      <div class="card-body" style="padding: 0;">
        <div *ngFor="let subject of group.value; let i = index" 
             class="row" 
             [ngStyle]="{ 'background-color': i % 2 === 0 ? '#F9F8F8' : 'white', 'margin': '0', 'padding': '10px' }">
          <div class="col-3">
            <strong>المادة : </strong>
            <b style="color: #0013a7;">{{ subject.subjectName }}</b>
          </div>
          <div class="col-3">
            <b>الفصول : </b>
              <b style="padding: 3px;color: #0013a7;" *ngFor="let classItem of subject.classes.split(',')">{{ classItem| arabicNumerals  }}</b>
          </div>
          <div class="col-3">
            <strong>عدد الحصص :</strong>
            <b style="color: #0013a7;padding-right: 10px;">{{ subject.currentNisab | arabicNumerals}}</b>
          </div>
          <div class="col-3">
            <strong>النصاب القانونى :</strong>
            <b style="color: #0013a7; padding-right: 10px;">{{ subject.nisab | arabicNumerals }}</b>
          </div>
        </div>
      </div>
      <div class="card-footer" style=" color: #1e1e2d; padding: 10px;">
        <div class="row" style="margin: 0;text-align: center;">
          <div class="col-4" style="padding: 5px;">
            <strong>مجموع عدد الحصص :</strong>
            <b style="color: #0013a7;padding-right: 10px;">{{ getTotalCurrentNisab(group.value) | arabicNumerals}}</b>
          </div>
          <div class="col-4" style="padding: 5px;">
            <strong>مجموع النصاب القانونى : </strong>
            <b style="color: #0013a7; padding-right: 10px;">{{ getTotalNisab(group.value) | arabicNumerals}}</b>
          </div>

          <div class="col-4" style="padding: 5px;color: red;">
            <strong> متبقى : </strong>
            <b style="padding-right: 10px;">{{ (getTotalNisab(group.value) -  getTotalCurrentNisab(group.value)) | arabicNumerals }}</b>
          </div>
          
        </div>
      </div>
    </div>
    
    <!-- <div class="table-responsive">
      <table class="
          table-striped table table-head-custom table-vertical-center
          
          mt-6
        ">
        <thead>
          <tr>
            <th style="width: 175px">
              <div class="search-item" *ngIf="searchByCode">
                <i class="fas far fa-search cursor-pointer" (click)="searchByCode = !searchByCode"></i>
                <input type="text" (keyup)="search()" [(ngModel)]="codeTextSearch" class="form-control search-input rounded" placeholder="بحث بالكود" aria-label="Search"
                       aria-describedby="search-addon" />
              </div>
              <ng-container *ngIf="!searchByCode">
                <i class="fas far fa-search cursor-pointer" (click)="searchByCode = !searchByCode"></i>
                كود المعلم
              </ng-container>
            </th>
            <th style="width: 200px">
              <div class="search-item" *ngIf="searchByName">
                <i class="fas far fa-search cursor-pointer" (click)="searchByName = !searchByName"></i>
                <input type="text" (keyup)="search()" [(ngModel)]="nameTextSearch" class="form-control search-input rounded" placeholder="بحث بالاسم" aria-label="Search"
                       aria-describedby="search-addon" />
              </div>
              <ng-container *ngIf="!searchByName">
                <i class="fas far fa-search cursor-pointer" (click)="searchByName = !searchByName"></i>
                اسم المعلم
              </ng-container>
            </th>
            <th style="width: 165px">
              <div class="search-item" *ngIf="searchBySubject">
                <i class="fas far fa-search cursor-pointer" (click)="searchBySubject = !searchBySubject"></i>
                <input type="text" (keyup)="search()" [(ngModel)]="subjectTextSearch" class="form-control search-input rounded" placeholder="بحث بالاسم" aria-label="Search"
                       aria-describedby="search-addon" />
              </div>
              <ng-container *ngIf="!searchBySubject">
                <i class="fas far fa-search cursor-pointer" (click)="searchBySubject = !searchBySubject"></i>
                اسم الماده
              </ng-container>
            </th>
            <th style="width: 400px">
              <div class="search-item" *ngIf="searchByClass">
                <i class="fas far fa-search cursor-pointer" (click)="searchByClass = !searchByClass"></i>
                <input type="text" (keyup)="search()" [(ngModel)]="classTextSearch" class="form-control search-input rounded" placeholder="بحث الفصل" aria-label="Search"
                       aria-describedby="search-addon" />
              </div>
              <ng-container *ngIf="!searchByClass">
                <i class="fas far fa-search cursor-pointer" (click)="searchByClass = !searchByClass"></i>
                الفصول الدراسيه المسؤل عنها المعلم
              </ng-container>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="
            pageProps.teacherItemList &&
            !pageProps.isLoading &&
            pageProps.teacherItemList.length !== 0
          ">
          <tr *ngFor="let teacherItem of pageProps.teacherItemList">
            <td>{{ teacherItem.teacher.teacherCode }}</td>
            <td>{{ teacherItem.teacher.name }}</td>
            <td *ngIf="
                pageProps.resultObj.subjects.length !== 0 &&
                teacherItem.teacher.teacherSubjects.length === 0
              ">
              <div class="form-group" style="width: 300px">
                <p-multiSelect class="
                    form-control form-control-solid
                    h-auto
                    rounded-md
                    font-size-h6
                    mt-5
                    p-0
                  " [options]="pageProps.resultObj.subjects" [(ngModel)]="teacherItem.teacherSubjectToAdd.subjectesToAdd" defaultLabel=" اختر المادة" optionLabel="name"
                               display="chip">
                  <p-footer>
                    <div class="m-2 d-flex justify-content-end">
                      <button class="btn btn-primary" style="width: 100%; border-radius: 50px" (click)="
                          addTeacherSubjects(teacherItem.teacherSubjectToAdd)
                        ">
                        اضافة
                      </button>
                    </div>
                  </p-footer>
                </p-multiSelect>
              </div>
            </td>
            <td *ngIf="teacherItem.teacher.teacherSubjects.length !== 0">
              <div class="
                  grid-badge-subject
                  d-flex
                  justify-content-start
                  align-items-center
                ">
                <span *ngFor="let subject of teacherItem.teacher.teacherSubjects">{{ subject.name }}</span>
                <p (click)="openModal(editModal, teacherItem.teacher)">
                  <i class="fas fal fa-edit"></i>
                </p>
              </div>
            </td>
            <td>
              <div class="grid-badge">
                <span *ngFor="let class of teacherItem.teacher.classes">{{
                  class | arabicNumerals
                  }}</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
  <div class="text-center pb-5" *ngIf="!isLoading && teacherList.length === 0">
    <p style="font-size: 1.5rem; color: #b5b5c3">لا يوجد معلمين</p>
  </div>
</div>



<div class="text-center pb-5" *ngIf="isLoading">
  <mat-spinner class="m-auto"></mat-spinner>
</div>

<!-- <ng-template #editModal let-close="close" let-d="dismiss">
  <div class="modal-header pt-0">
    <h4 class="modal-title">تعديل بيانات المعلم</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="items d-flex">
        <div class="mr-3">
          <p style="width: 90px">اسم المعلم:</p>
          <p>كود المعلم:</p>
          <p>المواد:</p>
        </div>
        <div class="">
          <p>{{ pageProps.selectedTeacher?.name }}</p>
          <p>{{ pageProps.selectedTeacher?.teacherCode }}</p>
          <div class="form-group" style="width: 330px">
            <p-multiSelect class="
                form-control form-control-solid
                h-auto
                rounded-md
                font-size-h6
                p-0
              " [options]="pageProps.resultObj?.subjects" defaultLabel="حدد الماده" optionLabel="name" display="chip" [(ngModel)]="pageProps.selectedTeacher.teacherSubjects">
            </p-multiSelect>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary item-btn" (click)="edit()">تعديل</button>

    <button class="btn text-danger font-14" (click)="d('Cross click');reset()">
      الغاء
    </button>
  </div>
</ng-template> -->

<ng-template #Status let-close="close" let-d="dismiss">
  <div class="modal-header pt-0">
    <h4 class="modal-title">تأكيد</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ statusMessage }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="d('Cross click')">
      حسنا
    </button>
  </div>
</ng-template>
