<!-- <div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <div
    class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white"
    id="kt_login"
  >
    <div
      class="flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden mx-auto w-100"
    >
      <div class="d-flex justify-content-between px-4 py-6 align-items-center">
        <div></div>
      </div>
      <div
        class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden mx-auto w-100"
      >
        <div class="p-7">
          <div class="text-center mb-15">
            <img class="mx-4" src="./assets/media/logos/logo.png" width="120" />
          </div>
          <div class="d-flex flex-column-fluid flex-center">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between p-4">
        <div class="text-dark">
          <span class="text-muted font-weight-bold mr-2">
            {{ 'copyright' | translate }} {{ currentYear }} &copy;
          </span>
        </div>
        <div class="text-dark">
        </div>
      </div>
    </div>

  </div>
</div> -->


<router-outlet></router-outlet>

