<div class="modal-content">
  <div class="modal-close cursor-pointer" (click)="close()">
    <i class="fas fa-times text-danger"></i>
  </div>
  <div class="modal-title">أضافة الطلاب</div>
  <div class="modal-body">
    <h4 class="mb-5">
      الطلاب المسجلين
      <b> بالمرحلة الإعدادية</b>
    </h4>
    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-between">
        <div>
          <div class="d-flex align-items-center">
            <h5 style="white-space: nowrap; margin-inline-end: 30px">
              اختر الفصل الدراسي لتعديل الفصل
            </h5>

            <div class="radio-items d-flex mb-5 mb-5">
              <div>
                <input
                  id="b1"
                  class="only-sr checked"
                  type="radio"
                  name="temp2"
                  value="1"
                  checked
                />
                <label for="b1">الأول</label>
              </div>
              <div>
                <input
                  id="b2"
                  class="only-sr"
                  type="radio"
                  name="temp2"
                  value="2"
                />
                <label for="b2">الثاني</label>
              </div>
              <div>
                <input
                  id="b3"
                  class="only-sr"
                  type="radio"
                  name="temp2"
                  value="3"
                />
                <label for="b3">الثالث</label>
              </div>
            </div>
          </div>

          <div
            class="table-responsive"
            style="max-height: 50vh; overflow-y: scroll !important"
          >
            <table
              class="
                table-striped table table-head-custom table-vertical-center
                overflow-hidden
              "
            >
              <thead>
                <tr>
                  <th class="cursor-pointer">
                    <span
                      cacheSVG="true"
                      class="svg-icon svg-icon-md cursor-pointer"
                      [inlineSVG]="
                        'assets/media/svg/icons/Navigation/Arrows-v.svg'
                      "
                    >
                    </span
                    >كود الطالب
                  </th>
                  <th class="cursor-pointer">
                    <span
                      cacheSVG="true"
                      class="svg-icon svg-icon-md cursor-pointer"
                      [inlineSVG]="
                        'assets/media/svg/icons/Navigation/Arrows-v.svg'
                      "
                    >
                    </span
                    >اسم الطالب
                  </th>
                  <th class="cursor-pointer">
                    <span
                      cacheSVG="true"
                      class="svg-icon svg-icon-md cursor-pointer"
                      [inlineSVG]="
                        'assets/media/svg/icons/Navigation/Arrows-v.svg'
                      "
                    >
                    </span
                    >الرقم القومي
                  </th>
                  <th class="cursor-pointer">
                    <span
                      cacheSVG="true"
                      class="svg-icon svg-icon-md cursor-pointer"
                      [inlineSVG]="
                        'assets/media/svg/icons/Navigation/Arrows-v.svg'
                      "
                    >
                    </span
                    >الفصل المدرسي
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items">
                  <td>1356621378</td>
                  <td>سماء محمد شحاته محمد</td>
                  <td>67832123723161237831</td>
                  <td>
                    <div class="form-group">
                      <select
                        class="
                          form-control form-control-solid
                          h-auto
                          rounded-md
                          font-size-h6
                          mt-5
                        "
                        type="text"
                        name="groupName"
                      >
                        <option *ngFor="let item of grids">اختر الفصل</option>
                      </select>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
          <button
            class="btn btn-primary btn-xl border-raduis-50"
            (click)="submit()"
          >
            أضف الطلاب
          </button>

          <button class="btn text-danger font-20">أحفظ و استكمل لاحقا</button>
        </div>
      </div>
      <!-- /col -->
    </div>
  </div>
</div>
