<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted font-weight-bold mr-2"
      >{{ currentYear }} &copy;</span
    >
    <a
      href="http://www.appenza-studio.com"
      target="_blank"
      class="text-dark-75 text-hover-primary"
      >Appenza Studio</a
    >
  </div>
</div>
