<!-- <div class="login-form login-signup">
  <form class="form" novalidate="novalidate" id="kt_login_signup_form" [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div>
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        {{ 'login' | translate }}
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        {{ 'loginCredentials' | translate }}
      </p>
    </div>
    <ng-container *ngIf="pageProps.errorMessage">
      <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
        <div class="alert-text">{{pageProps.errorMessage}}</div>
      </div>
    </ng-container>
    <div class="form-group">
      <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="email"
        placeholder="{{ 'email' | translate }}" name="email" formControlName="Email" autocomplete="off" [ngClass]="{
          'is-invalid':
            loginForm.controls['Email'].invalid &&
            loginForm.controls['Email'].touched
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'requiredEmail' | translate,
          control: loginForm.controls['Email']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'invalidEmail' | translate,
          control: loginForm.controls['Email']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'emailMaxLength' | translate,
          control: loginForm.controls['Email']
        }"></ng-container>
    </div>
    <div class="form-group">
      <div class="input-group input-group-solid">

        <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6"
          [type]="pageProps.passwordType" placeholder="{{ 'password' | translate }}" name="password"
          formControlName="Password" autocomplete="off" [ngClass]="{
          'is-invalid':
            loginForm.controls['Password'].invalid &&
            loginForm.controls['Password'].touched
        }" />
        <div class="input-group-append cursor-pointer" style="height: 49px; width: 41px" (click)="HideShowPassword()">
          <div class="input-group-text">
            <i class="fas p-0" [class.fa-eye]="pageProps.passwordType == 'password'"
              [class.fa-eye-slash]="pageProps.passwordType == 'text'"></i>
          </div>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'requiredPassword' | translate,
          control: loginForm.controls['Password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'pattern',
          message: 'passwordPattern' | translate,
          control: loginForm.controls['Password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'passwordMaxLength' | translate,
          control: loginForm.controls['Password']
        }"></ng-container>
    </div>
    <div class="form-group d-flex flex-wrap pb-lg-0 pb-3">
      <button type="submit" id="kt_login_signup_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-3 my-3 mr-4">
        {{
        pageProps.isLogging
        ? ['logging' | translate]
        : ('loginButton' | translate)
        }}
      </button>
    </div>
  </form>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template> -->

<div class="text-center mb-15 mt-15 pt-15" >
  <img class="mx-4" src="./assets/media/logos/logo.png" width="120" />
</div>

<div class="text-center mb-15 mt-15 pt-15" role="alert" *ngIf="pageProps.errorMessage != ''">
 <span class="alert alert-danger">{{ pageProps.errorMessage }}</span> 
</div>

<div class="text-center pb-5 mb-15 mt-15 pt-15" *ngIf="pageProps.isLogging">
  <mat-spinner class="m-auto"></mat-spinner>
</div>

<!-- <ng-template #Status let-close="close" let-d="dismiss">
  <div class="modal-header pt-0">
    <h4 class="modal-title">تأكيد</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ pageProps.errorMessage }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="d('Cross click')">
      حسنا
    </button>
  </div>
</ng-template> -->