.add p {
    color: #0013a7;
    font-size: 18px;
}

.add i {
    margin-left: 6px;
    color: #0013a7;
}

.line {
    background: #0013a7;
    width: 133px;
    height: 2px;
    margin: -12px 20px 0 0;
}

.no-classes {
    margin: 100px auto;
    padding: 20px;
    width: 915px;
    height: 150px;
    background: #f7f7f7;
    box-shadow: inset 0px 3px 6px #00000029;
    border-radius: 16px 0px;
    color: #039517;
}

.no-classes i {
    color: #039517;
    margin-left: 4px;
}

.class-btn {
    text-align: center;
}

.no-classes button {
    width: 190px;
    border-radius: 25px;
    height: 50px;
    text-align: center;
    color: #ffffff;
}