<div class="head" style="font-size: x-large;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!-- <li class="breadcrumb-item text-primary">
                <a [routerLink]="['/dashboard']">الرئيسيه</a>
            </li> -->
            <!-- <li class="breadcrumb-item text-primary">
                <a [routerLink]="['/classes']" style="font-size: 1.5em; font-weight: bold;"> الفصول الدراسية </a>
            </li> -->
            <li class="breadcrumb-item active" aria-current="page" *ngIf="pageProps.class.name">
                <span class="bg-danger text-white px-3 py-2 rounded" style="font-size: 1.5em;">
                     فصل &gt;  {{ pageProps.class.name | arabicNumerals }}
                </span>
            </li>
            
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-end">
    <div *ngIf="pageProps.books != null && pageProps.books.length>0" class="d-flex ml-4 pl-3">
        <button class="btn btn-primary" (click)="openBooks()">
            تسليم الكتب الدراسية للطلاب
        </button>
    </div>

    <div class="d-flex ml-4 pl-3">
        <button class="btn btn-info" (click)="opneModal(ConfirmTeacher)">
            طباعة تفاصيل الفصل الدراسي
        </button>
    </div>
</div>


<div>
    <div class="d-flex justify-content-between mt-12">
        <div class="tabs">
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>المعلمين</a>
                    <ng-template ngbNavContent>
                        <div class="card">
                            <div class="card-body pt-0" *ngIf="!pageProps.isLoading">
                                <div class="row">
                                    <!-- First Column (col-6) -->
                                    <div class="col-6">
                                        <div class="table-responsive">
                                            <table class="
                                              table-striped
                                              table
                                              table-head-custom
                                              table-vertical-center
                                              mt-6
                                            ">
                                                <thead>
                                                    <tr>
                                                        <th>اسم الماده</th>
                                                        <th>اسم المعلم</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="!pageProps.isLoading">
                                                    <ng-container *ngFor="let subject of pageProps.classSubjects; let i = index">
                                                        <tr *ngIf="i % 2 === 0">
                                                            <td>{{ subject.name }}</td>
                                                            <td>
                                                                <div class="form-group" style="width: 100%">
                                                                    <p-multiSelect class="
                                                                      form-control form-control-solid
                                                                      h-auto
                                                                      rounded-md
                                                                      font-size-h6
                                                                      mt-5
                                                                      p-0
                                                                      text-center
                                                                    " [options]="subject.subjectTeachers" 
                                                                    [(ngModel)]="subject.selectedTeachers"
                                                                        defaultLabel="حدد معلم" 
                                                                        optionLabel="name"  
                                                                        display="chip"
                                                                        [selectionLimit]="1"
                                                                        >
                                                                        <p-footer>
                                                                            <div class="m-2 d-flex justify-content-end">
                                                                                <button class="btn btn-primary"
                                                                                    style="width: 100%; border-radius: 50px"
                                                                                    (click)="updateTeachers(subject)">
                                                                                    حفظ
                                                                                </button>
                                                                            </div>
                                                                        </p-footer>
                                                                    </p-multiSelect>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        
                                    <!-- Second Column (col-6) -->
                                    <div class="col-6">
                                        <div class="table-responsive">
                                            <table class="
                                              table-striped
                                              table
                                              table-head-custom
                                              table-vertical-center
                                              mt-6
                                            ">
                                                <thead>
                                                    <tr>
                                                        <th>اسم الماده</th>
                                                        <th>اسم المعلم</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="!pageProps.isLoading">
                                                    <ng-container *ngFor="let subject of pageProps.classSubjects; let i = index">
                                                        <tr *ngIf="i % 2 !== 0">
                                                            <td>{{ subject.name }}</td>
                                                            <td>
                                                                <div class="form-group" style="width: 100%">
                                                                    <p-multiSelect class="
                                                                      form-control form-control-solid
                                                                      h-auto
                                                                      rounded-md
                                                                      font-size-h6
                                                                      mt-5
                                                                      p-0
                                                                      text-center
                                                                    " [options]="subject.subjectTeachers" [(ngModel)]="subject.selectedTeachers"
                                                                        defaultLabel="حدد معلم" optionLabel="name" display="chip">
                                                                        <p-footer>
                                                                            <div class="m-2 d-flex justify-content-end">
                                                                                <button class="btn btn-primary"
                                                                                    style="width: 100%; border-radius: 50px"
                                                                                    (click)="updateTeachers(subject)">
                                                                                    حفظ
                                                                                </button>
                                                                            </div>
                                                                        </p-footer>
                                                                    </p-multiSelect>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="card-body pt-0" *ngIf="
                              !pageProps.isLoading && pageProps.classSubjects.length === 0
                            ">
                                <div class="text-center pb-5">
                                    <p style="font-size: 1.5rem; color: #b5b5c3">
                                        لا يوجد معلمين
                                    </p>
                                </div>
                            </div>
                        
                            <div class="card-body pt-0" *ngIf="pageProps.isLoading">
                                <div class="text-center pb-5">
                                    <mat-spinner class="m-auto"></mat-spinner>
                                </div>
                            </div>
                        </div>
                        
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink (click)="getStudents()">الطلاب</a>
                    <ng-template ngbNavContent class="mt-0">
                        <div class="card">
                            <div class="card-body pt-0" *ngIf="
                  !pageProps.isLoading && pageProps.students.length > 0
                ">
                                <div class="table-responsive">
                                    <table class="
                      table-striped
                      table
                      table-head-custom
                      table-vertical-center
                      overflow-hidden
                      mt-6
                    ">
                                        <thead>
                                            <tr>
                                                <th class="cursor-pointer">
                                                    <!-- <span cacheSVG="true" class="svg-icon svg-icon-md cursor-pointer" [inlineSVG]="
                              'assets/media/svg/icons/Navigation/Arrows-v.svg'
                            ">
                          </span>  -->
                                                    كود الطالب

                                                </th>
                                                <th class="cursor-pointer">
                                                    <!-- <span cacheSVG="true" class="svg-icon svg-icon-md cursor-pointer" [inlineSVG]="
                              'assets/media/svg/icons/Navigation/Arrows-v.svg'
                            ">
                          </span
                          > -->
                                                    اسم الطالب

                                                </th>
                                                <th class="cursor-pointer">
                                                    <!-- <span
                            cacheSVG="true"
                            class="svg-icon svg-icon-md cursor-pointer"
                            [inlineSVG]="
                              'assets/media/svg/icons/Navigation/Arrows-v.svg'
                            "
                          >
                          </span> -->
                                                    الفصل الدراسى
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let student of pageProps.students">
                                                <td>{{ student.code }}</td>
                                                <td>{{ student.name }}</td>
                                                <!-- <td>67832123723161237831</td> -->
                                                <td>
                                                    {{ pageProps.class.name | arabicNumerals  }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--s-->
                            <div *ngIf="
                  !pageProps.isLoading && pageProps.students.length == 0
                " class="card-body">
                                <div class="no-classes">
                                    <h3>
                                        <i class="fas fal fa-info-circle"></i>لا يوجد طلاب حاليه
                                    </h3>
                                    <p>
                                        يمكنك إضافة طلاب الى الفصول عن طريق الذهاب الى الطلاب وإضافة الطلاب على الفصول .
                                        بخطوات بسيطة
                                    </p>
                                    <div class="class-btn">
                                        <button (click)="routeToStudentswithQQUery()" class="btn btn-primary">
                                            الذهاب الى الطلاب
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--e-->
                            <div class="text-center pb-5" *ngIf="pageProps.isLoading">
                                <mat-spinner class="m-auto"></mat-spinner>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
        </div>
        <!-- <div class="add cursor-pointer" (click)="opneModal(addStudent)">
        <p><i class="fas fal fa-plus"></i>اضف طالب للفصل</p>
        <div class="line"></div>
    </div> -->
    </div>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<ng-template #Status let-close="close" let-d="dismiss">
    <div class="modal-header pt-0">
        <h4 class="modal-title">تأكيد</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ pageProps.message }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click')">
            حسنا
        </button>
    </div>
</ng-template>

<ng-template #ConfirmTeacher let-close="close" let-d="dismiss">
    <div class="modal-header pt-0">
        <h4 class="modal-title">تأكيد</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h3 class="font-weight-bold text-primary">
            هل أنت متأكد من مراجعه بيانات المعلمين ؟
        </h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click');confrimTeachers(true)">
            نعم
        </button>
        <button type="button" class="btn btn-danger" (click)="d('Cross click');confrimTeachers(false)">
            لا
        </button>
    </div>
</ng-template>
<ng-template #ConfirmStudent let-close="close" let-d="dismiss">
    <div class="modal-header pt-0">
        <h4 class="modal-title">تأكيد</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h3 class="font-weight-bold text-primary">
            هل أنت متأكد من مراجعه بيانات الطلاب ؟
        </h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click');exportClassData(true)">
            نعم
        </button>
        <button type="button" class="btn btn-danger" (click)="d('Cross click');exportClassData(false)">
            لا
        </button>
    </div>
</ng-template>
<!-- <ng-template #addStudent>
  <app-add-students></app-add-students>
</ng-template> -->



<ng-template #books let-close="close" let-d="dismiss">
    <div class="modal-header pt-0">
        <h4 class="modal-title">تسليم الكتب الدراسية</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body">
        <div class="row">
            <div class="col text-center mb-3">
                <button class="btn btn-primary" (click)="selectAllBooks()">تحديد الكل</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-group">
                    <li *ngFor="let book of pageProps.books" class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="{{ 'book_' + book.id }}"
                                [(ngModel)]="book.isSelected">
                            <label class="form-check-label" for="{{ 'book_' + book.id }}">
                                {{ book.bookName }} - {{ getBookTermName(book.term) }}
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>




    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="SaveStudentBooks()">
            حسنا
        </button>

        <button type="button" class="btn btn-danger" (click)="d('Cross click')">
            الغاء
        </button>
    </div>
</ng-template>