.table td {
  padding: 0 10px !important;
}
.form-control {
  padding: unset !important;
  align-items: center;
}
.no-classes {
  margin: 100px auto;
  padding: 20px;
  width: 915px;
  height: 225px;
  background: #f7f7f7;
  box-shadow: inset 0px 3px 6px #00000029;
  border-radius: 16px 0px;
  color: #039517;
}
.no-classes i {
  color: #039517;
  margin-left: 4px;
}
.class-btn {
  text-align: center;
}
.no-classes button {
  width: 190px;
  border-radius: 25px;
  height: 50px;
  text-align: center;
  color: #ffffff;
}

.list-group-item input[type="checkbox"] {
  transform: scale(1.5);
}

.nobook-color {
  background-color: #ffe6e6; /* Light Red */
  border: 1px solid #ff9999; /* Red Border */
}

.hassomebook-color {
  background-color: #e6f2ff; /* Light Blue */
  border: 1px solid #99ccff; /* Blue Border */
}

.hasallbook-color {
  background-color: #e6ffe6; /* Light Green */
  border: 1px solid #99ff99; /* Green Border */
}

