<div class="head">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/dashboard']">الرئيسيه</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">الطلاب</li>
        </ol>
    </nav>
</div>



<!-- <div class="d-flex justify-content-end">
    <div class="d-flex ml-4 pl-3">
      <button class="btn btn-info">
        طباعة تقرير تسليم الكتب 
      </button>
    </div>
  </div> -->
<!-- <div class="add cursor-pointer" (click)="opneModal(editTeacher)">
  <p><i class="fas fal fa-plus"></i> تعديل بيانات المدرس</p>
  <div class="line"></div>
</div> -->
<div class="tabs mt-12" *ngIf="pageProps.schoolGrades.length > 0">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li *ngFor="let grade of pageProps.schoolGrades; let i = index" [ngbNavItem]="i">
            <a ngbNavLink (click)="ChangeGrade(grade.gradeCode)">{{
                grade.gradeName
                }}</a>
            <ng-template ngbNavContent class="mt-0">
                <div class="card">
                    <div class="card-body pt-0">
                        <div class="table-responsive">
                            <table class="
                   table table-head-custom table-vertical-center
                  overflow-hidden
                  mt-6
                ">
                                <thead>
                                    <tr>
                                        <th class="cursor-pointer">
                                            <div class="search-item" *ngIf="searchByCode">
                                                <i class="fas far fa-search cursor-pointer"
                                                    (click)="searchByCode = !searchByCode"></i>
                                                <input type="text" (keyup)="search(grade.gradeCode)"
                                                    [(ngModel)]="studentCode" class="form-control search-input rounded"
                                                    placeholder="بحث بالكود" aria-label="Search"
                                                    aria-describedby="search-addon" />
                                            </div>
                                            <ng-container *ngIf="!searchByCode">
                                                <i class="fas far fa-search cursor-pointer"
                                                    (click)="searchByCode = !searchByCode"></i> كود الطالب
                                                <!-- <span
                          cacheSVG="true"
                          class="svg-icon svg-icon-md cursor-pointer"
                          [inlineSVG]="
                            'assets/media/svg/icons/Navigation/Arrows-v.svg'
                          "
                        >
                        </span> -->
                                            </ng-container>
                                        </th>
                                        <th class="cursor-pointer">
                                            <div class="search-item" *ngIf="searchByName">
                                                <i class="fas far fa-search cursor-pointer"
                                                    (click)="searchByName = !searchByName"></i>
                                                <input type="text" (keyup)="search(grade.gradeCode)"
                                                    [(ngModel)]="studentName" class="form-control search-input rounded"
                                                    placeholder="بحث بالاسم" aria-label="Search"
                                                    aria-describedby="search-addon" />
                                            </div>
                                            <ng-container *ngIf="!searchByName">
                                                <i class="fas far fa-search cursor-pointer"
                                                    (click)="searchByName = !searchByName"></i> اسم الطالب
                                                <!-- <span
                          cacheSVG="true"
                          class="svg-icon svg-icon-md cursor-pointer"
                          [inlineSVG]="
                            'assets/media/svg/icons/Navigation/Arrows-v.svg'
                          "
                        >
                        </span> -->
                                            </ng-container>
                                        </th>
                                        <!-- <th class="cursor-pointer">
                      <div class="search-item" *ngIf="searchByID">
                        <i class="fas far fa-search cursor-pointer" (click)="searchByID = !searchByID"></i>
                        <input type="text" class="form-control search-input rounded" placeholder="بحث بالرقم القومي"
                          aria-label="Search" aria-describedby="search-addon" />
                      </div>
                      <ng-container *ngIf="!searchByID">
                        <i class="fas far fa-search cursor-pointer" (click)="searchByID = !searchByID"></i>
                        الرقم القومي

                        <span cacheSVG="true" class="svg-icon svg-icon-md cursor-pointer" [inlineSVG]="
                            'assets/media/svg/icons/Navigation/Arrows-v.svg'
                          ">
                        </span>
                      </ng-container>
                    </th> -->
                                        <th class="cursor-pointer">
                                            <div class="search-item" *ngIf="searchByClass">
                                                <i class="fas far fa-search cursor-pointer"
                                                    (click)="searchByClass = !searchByClass"></i>
                                                <input type="text" (keyup)="search(grade.gradeCode)"
                                                    [(ngModel)]="className" class="form-control search-input rounded"
                                                    placeholder="بحث بالفصل الدراسى" aria-label="Search"
                                                    aria-describedby="search-addon" />
                                            </div>
                                            <ng-container *ngIf="!searchByClass">
                                                <i class="fas far fa-search cursor-pointer"
                                                    (click)="searchByClass = !searchByClass"></i> الفصل الدراسى
                                                <!-- <span
                          cacheSVG="true"
                          class="svg-icon svg-icon-md cursor-pointer"
                          [inlineSVG]="
                            'assets/media/svg/icons/Navigation/Arrows-v.svg'
                          "
                        >
                        </span> -->
                                            </ng-container>
                                        </th>
                                        <th> 
                                            <span>الكتب الدراسية</span>
                                            &nbsp;
                                            <select (change)="search(grade.gradeCode)" [(ngModel)]="filterAssignBook">
                                                <option value="0">الكل</option>
                                                <option value="1">مستلم</option>
                                                <option value="2">غير مستلم</option>
                                            </select>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="!pageProps.isLoading && pageProps.students.length > 0">
                                    <tr *ngFor="let student of pageProps.students"
                                    
                                    [ngClass]="{'hasallbook-color': (student.books.length == grade.books?.length && grade.books != null && grade.books.length >0), 
                                    'hassomebook-color': (student.books.length != grade.books?.length && grade.books != null && grade.books.length >0 && student.books.length > 0), 
                                    'nobook-color': (student.books.length != grade.books?.length && grade.books != null && grade.books.length >0 && student.books.length == 0)}">
                                        <td>{{ student.studentCode }}</td>
                                        <td>{{ student.studentName }}</td>
                                        
                                        <td >
                                            <div class="form-group" *ngIf="student.showEdit">
                                                <select class="
                            form-control form-control-solid
                            h-auto
                            rounded-md
                            font-size-h6
                            mt-5
                          " type="text" name="groupName" [(ngModel)]="student.classCode">
                                                    <option selected value="0" disabled>
                                                        اختر الفصل
                                                    </option>
                                                    <option *ngFor="let class of grade.classes" [value]="class.classId">
                                                        {{  class.className.split('/')[0]  | arabicNumerals}} / {{ class.className.split('/')[1] | arabicNumerals}}
                                                    </option>
                                                </select>
                                                <div class="m-2 d-flex justify-content-end">
                                                    <button class="btn btn-primary"
                                                        style="width: 100%; border-radius: 50px" (click)="
                              assignStudentClass(student);
                              student.showEdit = false
                            ">
                                                        حفظ
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="m-2 d-flex justify-content-end"
                                                *ngIf="student.classCode > 0 && !student.showEdit">
                                                <div class="w-100">
                                                    <!-- Replace this with Calssname -->
                                                    <div *ngFor="let class of grade.classes">
                                                        <b  *ngIf="class.classId == student.classCode">
                                                            {{  class.className.split('/')[0]  | arabicNumerals}} / {{ class.className.split('/')[1] | arabicNumerals}}
                                                        </b>
                                                    </div>
                                                </div>
                                                <button class="btn w-100" style="
                            border-radius: 50px;
                            text-decoration: underline;
                          " (click)="student.showEdit = true">
                                                    <!-- (click)="opneModal(assignStudent, 'md', student)" -->
                                                    تعديل
                                                </button>
                                            </div>

                                            <div class="m-2 d-flex justify-content-end"
                                                *ngIf="student.classCode == 0 && !student.showEdit">
                                                <div class="w-100">
                                                    <!-- Replace this with Calssname -->
                                                    <div>
                                                        <b> لم يتم تعين الفصل </b>
                                                    </div>
                                                </div>

                                                <button class="btn w-100" style="
                            border-radius: 50px;
                            text-decoration: underline;
                          " (click)="student.showEdit = true">
                                                    <!-- (click)="opneModal(assignStudent, 'md', student)" -->
                                                    إضافه
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <button *ngIf="grade.books != null && grade.books.length >0" class="btn btn-primary" (click)="openBooks(student)">
                                                <i class="fas far fa-book cursor-pointer"></i>
                                            </button>
                                            &nbsp;
                                            &nbsp;
                                            <i *ngIf="student.books.length == grade.books?.length && grade.books != null && grade.books.length >0 " class="fas far fa-check cursor-pointer text-success"></i>
                                            &nbsp; 
                                            <i *ngIf="student.books.length != grade.books?.length &&  grade.books != null && grade.books.length >0" class="fas far fa-times cursor-pointer text-danger"></i>
                                           

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-body pt-0" *ngIf="!pageProps.isLoading && pageProps.students.length === 0">
                        <div class="text-center pb-5">
                            <p style="font-size: 1.5rem; color: #b5b5c3">لا يوجد طلاب</p>
                        </div>
                    </div>
                    <div class="card-body pt-0" *ngIf="pageProps.isLoading && pageProps.schoolGrades.length > 0">
                        <div class="text-center pb-5">
                            <mat-spinner class="m-auto"></mat-spinner>
                        </div>
                    </div>
                    <div *ngIf="!pageProps.isLoading && pageProps.students.length > 0"
                        class="d-flex justify-content-center mb-10">
                        <ngb-pagination [collectionSize]="pageProps.pagesNumber * 10" size="lg" [(page)]="page"
                            aria-label="Default pagination" (pageChange)="onPageChange(page, grade.gradeCode)"
                            [maxSize]="5">
                        </ngb-pagination>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<div class="text-center pb-5" *ngIf="pageProps.isLoading && pageProps.schoolGrades.length == 0">
    <mat-spinner class="m-auto"></mat-spinner>
</div>

<!-- <ng-template #editTeacher>
  <app-edit-teacher-info></app-edit-teacher-info>
</ng-template> -->

<ng-template #Status let-close="close" let-d="dismiss">
    <div class="modal-header pt-0">
        <h4 class="modal-title">تأكيد</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{ pageProps.message }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="d('Cross click')">
            حسنا
        </button>
    </div>
</ng-template>


<ng-template #books let-close="close" let-d="dismiss">
    <div class="modal-header pt-0">
        <h4 class="modal-title">تسليم الكتب الدراسية</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="modal-body">
        <div class="row">
          <div class="col text-center mb-3">
            <button class="btn btn-primary" (click)="selectAllBooks()">تحديد الكل</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li *ngFor="let book of pageProps.schoolGrades[active].books" class="list-group-item">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="{{ 'book_' + book.id }}" [(ngModel)]="book.isSelected">
                  <label class="form-check-label" for="{{ 'book_' + book.id }}">
                    {{ book.bookName }} - {{ getBookTermName(book.term) }}
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      
      

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="SaveStudentBooks()">
            حسنا
        </button>

        <button type="button" class="btn btn-danger" (click)="d('Cross click')">
            الغاء
        </button>
    </div>
</ng-template>